body {
  padding-top: 2em;
}

table {
  margin-top: 1em;
}

#refresh,
#app-creation,
#account-creation,
#total {
  margin-left: 1em;
}

a.selected {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#account-creation-box {
  display:inline-block;
}

#app-creation-box {
  display: inline-block;
}
