body {
  padding-left: 0px;
  padding-right: 0px;
}
.container {
  margin:0;
}
.container table {
  width: 450px;
}

.container table td {
  max-width: 60px;
  overflow:hidden;
}

.container table .ratio {
  display:none;
}

.container table .app-url {
  display:none;
}

.container table .accounts-list {
  display:none;
}

#app-creation-box {
  height: 24px;
  display: block;
}

#account-creation-box {
  height: 24px;
  display: block;
}
