{
  "database": {
    "driver": "mysql",
    "hostname": "localhost",
    "username": "",
    "password": "",
    "database": "test"
  },

  "pods": {
    "enabled": true
  },

  "ijod_backend": "file",
  "ijod_path": "/tmp/hallway",

  "ec2": {
    "accessKeyId": "",
    "secretKey": ""
  }
}
