{
    "twitter":{
        "appKey":"PASTE_HERE",
        "appSecret":"PASTE_HERE"
    },
    "foursquare" : {
        "appKey" : "PASTE_HERE",
        "appSecret" : "PASTE_HERE"
    },
    "github" : {
        "appKey" : "PASTE_HERE",
        "appSecret" : "PASTE_HERE"
    },
    "facebook" : {
        "appKey" : "PASTE_HERE",
        "appSecret" : "PASTE_HERE"
    },
    "gcontacts" : {
        "appKey" : "PASTE_HERE",
        "appSecret" : "PASTE_HERE"
    },
    "flickr" : {
        "appKey" : "PASTE_HERE",
        "appSecret" : "PASTE_HERE"
    },
    "instagram" : {
        "appKey" : "PASTE_HERE",
        "appSecret" : "PASTE_HERE"
    },
    "glatitude" : {
        "appKey" : "PASTE_HERE",
        "appSecret" : "PASTE_HERE"
    },
    "zeo" : {
        "appKey" : "PASTE_HERE",
        "appSecret" : "PASTE_HERE",
        "callerKey" : "PASTE_HERE"
    },
}

flickr: 
    //"appKey" : "fc9345c6fc5d181c14810eda3d90d5b8",
    //"appSecret" : "b6bfa4b6fdd952e1"
