{
 "database": {
    "driver": "mysql",
    "hostname":"localhost",
    "username":"root",
    "user":"root",
    "password":"",
    "database":"test"
  },
  "partition":{
    "size":2,
    "partdb": {
      "hostname":"localhost",
      "username":"root",
      "password":"",
      "database":"test_entries"
    }
  },
  "ijod_backend": "file",

  "ijod_file": "/tmp/ijod",

  "s3" : {
    "key":"VALUE",
    "secret":"VALUE",
    "bucket":"VALUE"
  },
  "logging": {
    "level": "debug"
  },
  "worker": {
    "port": 8041,
    "error_delay": 3000,
    "redis": {
      "host": "127.0.0.1",
      "port": 6379,
      "database": 0
    }
  },
  "taskman": {
    "numWorkers": 1,
    "redis": {
      "host": "localhost",
      "port": 6379
    },
    "defaultScanTime": 5000,
    "pagingTiming": 10000,
    "staleTime": 43200000,
    "store": {
      "type": "riak",
      "servers": ["localhost:8098"]
    }
  },
  "cache": {
    "redis": {
      "host": "localhost",
      "port": 6379,
      "db": 2
    }
  }
}
