{
 "database": {
    "driver": "mysql",
    "hostname":"localhost",
    "username":"root",
    "user":"root",
    "password":"",
    "database":"test"
  },

  "ijod_backend": "file",

  "ijod_file": "/tmp/ijod",

  "s3" : {
    "key":"VALUE",
    "secret":"VALUE",
    "bucket":"VALUE"
  }
}
